img
  {
    float: left;
    padding:10px;
    border-radius: 50%;
    width:20%;
    height: auto;
  }
ul
  {
    display:table;
    margin: 0 auto;
  }
h2
  {
    text-align:center;
  }
.navlist
  {
    float: right;
    padding:20px;
  }
.navlist a
  {
    margin: 10px;
    color: black;
  }
.navlist a:hover
  {
    color: grey;
  }
body
  {
    font-family: "Patrick Hand", sans-serif;
    font-size: 25px;
    background-image: url(../images/aesthetic.jpg);
  }
.card
  {
    background-color: #A5CAD2;
    border: 3px solid #329D9C;
    padding: 10px;
  }
