body
  {
    background-image:url(../images/aesthetic.jpg);
  }
.navlist-right
  {
    text-align: right;
    margin: 10px;
    padding: 20px;
  }
.navlist-right a
  {
    font-family: "Patrick Hand", sans-serif;
    font-size: 25px;
    margin:10px;
    color: black;
  }
.navlist-right a:hover
  {
    color:grey;
  }
.card-body
  {
    font-family: "Patrick Hand", sans-serif;
    font-size: 25px;
    background-color: #A5CAD2;
    border: 3px solid #329D9C;
    padding: 10px;
  }
