img
  {
    float: left;
    border-radius: 50%;
    width: 35%;
    height: auto;
  }
body
  {
    font-family: "Patrick Hand", sans-serif;
    background-image:url(../images/aesthetic.jpg);
    background-repeat:no-repeat;
    background-size: cover;

  }
.navlist
  {
    text-align: right;
    padding: 10px;
    margin: 10px;
  }
.navlist a
  {
    margin: 10px;
    font-size: 25px;
    color: black;
  }
.navlist a:hover
  {
    color: grey;
  }
.card
  {
    text-align: center;
    background-image: linear-gradient(to bottom right, #fdfbfb, #ebedee);
    border: 2px solid #329D9C;
    font-size: 25px;
  }
