.navlist-right
  {
    text-align: right;
    font-size: 20px;
    margin: 10px;
  }
.navlist-right a
  {
    margin:10px;
  }
h1
  {
    text-align: center;
  }
.card-title
  {
    text-align:center;
  }
.card-footer
  {
    text-align: center;
  }
