body
  {
    background-image:url(../images/aesthetic.jpg);
  }
.card
  {
    font-family: "Patrick Hand", sans-serif;
    font-size: 20px;
  }
h1
  {
    text-align: center;
    font-family: "Patrick Hand", sans-serif;
    font-size: 25px;
  }
.navlist-right
  {
    text-align: right;
    font-size: 20px;
    margin: 10px;
    padding: 20px;
  }
.navlist-right a
  {
    margin:10px;
    color:black;
    font-family: "Patrick Hand", sans-serif;
    font-size: 25px;
  }
.navlist-right a:hover
  {
    color:grey;
  }
.card-body
  {
    text-align:center;
    background-color: #A5CAD2;
    border: 2px solid #329D9C;
    padding: 10px;
  }
.card-footer
  {
    text-align: center;
    background-image: linear-gradient(to bottom right, #fdfbfb, #ebedee);
    border: 2px solid #329D9C;
  }
